body {
    background-color: #FDFDFD;
    color: #232323;
}

.header {
    background-color: #F0F0F0;
}
.btn-primary {
    background-color: #44329E;
}
.recipe-row {
  row-gap: 20px;
  justify-content: flex-start;
}
