.side-btn {
    width: 100%;
}

.top {
    margin-bottom: 8vh;
}

ol {
    list-style: decimal inside;
}

.instruction-item {
    display: list-item;
}

.rating-stars {
  display: flex;
  flex-direction: row-reverse;
}

.list-group-item {
  position:relative;
  display:block;
  color:#212529;
  text-decoration:none;
  background-color:#fff;
  border:1px solid rgba(0,0,0,.125);
  padding:.5rem 1rem;
}

.fork-button {
  margin-bottom: 10px;
}