.side-btn {
    width: 10vw;
}

.top {
    margin-bottom: 8vh;
}
ol {
    list-style: decimal inside;
}

.instruction-item {
    display: list-item;
}



.recipe-metadata{
border-style: solid;
border-radius: 2%;
padding: 10;
}