.side-btn {
    width: 10vw;
}

.top {
    margin-bottom: 8vh;
}

ol {
    list-style: decimal inside;
}

.instruction-item {
    display: list-item;
}

.recipe-metadata-div {
    border-style: solid;
    border-radius: 2%;
    border-color: #F3916C;
    height: fit-content;
    text-align: initial;
    margin: 0 0 0 10;
}

.recipe-metadata {
    display: flex;
    justify-content: space-between;
}

.prep-data {
    padding: 10;
    margin: 10
}

.side-buttons {
    margin: 0 -10 0 0;
}
.rating-stars {
  display: flex;
  flex-direction: row-reverse;
}

.list-group-item {
  position:relative;
  display:block;
  color:#212529;
  text-decoration:none;
  background-color:#fff;
  border:1px solid rgba(0,0,0,.125);
  padding:.5rem 1rem;
}

.fork-button {
  margin-bottom: 10px;
}