{% extends "wom/base.html" %}

{% load bootstrap5 %}
{% load static %}
{% load socialaccount %}
{% load account %}
{% block title %}My Account{% endblock %}


{% block content %}

<h2 style="text-align: center;">Your Recipes</h2>


{% for recipe in object_list %}
{% if recipe.creator|slugify == user.username|slugify %}

<div class="col-3" style="display: inline-block">
    <div class="card h-100" style="width: 18rem;">
        <img src="../../static/wom/images/macandcheese-500x500.jpeg" class="card-img-top" alt="recipe image">
        <div class="card-body">
            <h5 class="card-title">
                {{recipe.title}}
            </h5>
            <!-- <p class="card-text text-truncate" height="200" width="200">{{recipe.description}}</p> -->

            <div class="card-text">
                <em>
                    {{recipe.description}} <br />
                </em>
                <!-- <b> Creator: </b> {{ recipe.creator|default_if_none:"Anonymous" }} <br /> -->
                {% if recipe.anonymous_creator_bool %}
                <p style="font-size:large;"><b>Creator: </b>Anonymous </p>
                {% else %}
                <p style="font-size:large;"><b>Creator: </b>{{ recipe.creator}} </p>
                {% endif %}
                <b> Tags: </b>
                {% for i in recipe.tag_set.all %}
                {{i}}{% if not forloop.last %}, {% endif %}
                </li>
                {% endfor %}
                <br />
                <b> Prep time: </b> {{recipe.preparation_time}} <br />
                <b> Cooking time: </b>{{recipe.cooking_time}} <br />
                <b> Meal type: </b> {{recipe.meal_type}} <br />
                <b> Course: </b> {{recipe.course}} <br />


                <hr />
                <a href="{% url 'wom:detail' recipe.id %}">
                    <button type="button" class="btn btn-outline-primary">
                        View Details
                    </button>
                </a>
            </div>



        </div>
    </div>
</div>
{% endif %}

{% endfor %}
{% endblock %}