{# Load the libraries #}
{% load bootstrap5 %}
{% load static %}
{% load socialaccount %}
{% load account %}

{# Load CSS and Javascript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'wom/base_styles.css' %}"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% block extrahead %}{% endblock %}
</head>

<body>
  
{% block base_content %}
<div class="page-container ">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid header">
      <img src="../../static/wom/images/fork.png" style="width:45px; height:auto; float:left;"/>
      <span class="navbar-brand">Word of Mouth</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wom:search' %}">Recipes</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wom:favoritelist' %}">Favorites</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wom:createrecipe' %}">Create Recipe</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wom:account' %}">My Recipes</a>
          </li>
          {% endif %}
          <li class="nav-item ">
            <form action="{% url 'wom:search' %}" method="get">
              <div class="input-group" style="padding-top: 15;">
                <div class="form-outline">
                  <input type="search" id="form1" name="q" class="form-control" placeholder="Search by recipe title"/>
                </div>
                <button type="submit" class="btn btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                  </svg>
                </button>
              </div>
            </form>
          </li>
        </ul>
        <div class="d-flex flex-row justify-content-center">
          {% if user.is_authenticated %}
            <div class="my-auto me-2">Welcome, {{ user.username }}</div>
            <form method="post" action="{% url 'account_logout' %}" class="my-auto">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class="btn btn-primary my-auto" type="submit">Logout</button>
            </form>
          {% else %}
            <form method="post" action="{% provider_login_url 'google' process='login' %}" class="my-auto">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class="btn btn-primary my-auto" type="submit">Login</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <div class="content">
      {% block content %}{% endblock %}
  </div>
  
  <footer>
    <div class="footer" >
      <img src="../../static/wom/images/fork.png" style="width:45px; height:auto; float:right; margin-top: 10px">
      <h6 class="text-center" style="padding-top: 15px;">
        Copyright © 2022: Group A-22
      </h6>
      <div class="text-center" style="font-size:smaller"><a href="https://www.flaticon.com/free-icons/fork" title="fork icons">Fork icons created by Freepik - Flaticon</a></div>
    </div>
  </footer>
</div>
{% endblock %}
</body>
