{# Load the libraries #}
{% load bootstrap5 %}
{% load static %}
{% load socialaccount %}
{% load account %}

{# Load CSS and Javascript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" type="text/css" href="{% static 'wom/base_styles.css' %}"/>
{% block extrahead %}{% endblock %}
{% block base_content %}
<div class="page-container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand">Word of Mouth</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wom:search' %}">Recipes</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wom:favoritelist' %}">Favorites</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wom:createrecipe' %}">Create Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">My Account</a>
          </li>
          <li class="nav-item">
            <form action="{% url 'wom:search' %}" method="get">
              <div class="input-group">
                <div class="form-outline">
                  <input type="search" id="form1" name="q" class="form-control" placeholder="Search"/>
                </div>
                <button type="submit" class="btn btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                  </svg>
                </button>
              </div>
            </form> 
          </li>
          
        </ul>

        <div class="d-flex flex-row">
          {% if user.is_authenticated %}
            <span class="my-auto me-2">Welcome, {{ user.username }}</span>
            <form method="post" action="{% url "account_logout" %}" class="my-auto">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class="btn btn-outline-success my-auto" type="submit">Logout</button>
            </form>
          {% else %}
            <form method="post" action="{% provider_login_url "google" process='login' %}" class="my-auto">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class="btn btn-outline-success my-auto" type="submit">Login</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <div class="content">
      {% block content %}{% endblock %}
  </div>

</div>
{% endblock %}