{% extends "wom/base.html" %}

{% load bootstrap5 %}
{% block title %}Create Recipe{% endblock %}

{% block content %}

  <h2 class="text-center">Create New Recipe</h2>
  <form  method="post" style="margin-left: 5%; margin-right: 5%; margin-bottom: 5%">
    {% csrf_token %}
    {% bootstrap_form recipe_form %}
    <h4>Instructions</h4>
    <p>You do not need to fill all of the slots.</p>
    <ol>
      {% for instr_form in instruction_forms %}
      <li>
        {% bootstrap_form instr_form show_label=False %}
      </li>
      {% endfor %}
    </ol>
    
    <h4>Ingredients</h4>
    <p>You do not need to fill all of the slots.</p>
    <ol>
      {% for ingr_form in ingredient_forms %}
      <li>{% bootstrap_form ingr_form %}</li>
      <hr />
      {% endfor %}
    </ol>
    
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    {% endbuttons %}
   
</form>

{% endblock %}