{% extends "wom/base.html" %}
{% block title %}Favorited Recipes{% endblock %}

{% load socialaccount %}
{% load account %}
{% load bootstrap5 %}
{% load static %}


{% block content %}

{% if user.is_authenticated %}
{% if object_list %}
<div>

    <h3 class="text-center">Favorited Recipes</h3>
    <ol>
        {% for favorite in object_list %}
        <li>
            <a href="{% url 'wom:search' %}"> {{ favorite.recipe.title }} </a>
            </p>
            <hr />
        </li>

        {% endfor %}
    </ol>
    {% else %}
    <p>You haven't favorited any recipes.</p>
</div>
{% endif %}
{% else %}
<p>Please log in to view favorited recipes.</p>
{% endif %}
{% endblock %}
